<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
       @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
       @import url('app.css');
    </style>
   <!--  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
</head>
<body>
<div id="app">
	<nav>
		<transition name="fade" mode="out-in">
			<i class="material-icons menu" v-if="!show" @click="show = !show" key="menu">menu</i>
			<i class="material-icons clear" v-else @click="show = !show" key="clear">clear</i>
		</transition>
		<transition name="fade">
			<ul v-if="show">
				<li v-for="item in items">{{ item }}</li>
			</ul>
		</transition>
	</nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>